.headerMain {
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  padding: 1rem 0rem;
}

.headerMainItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerMainItems {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.headerMainItem {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.headerMainItem svg {
  font-size: 1.2rem;
}

.headerSocials {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.headerSocials svg {
  font-size: 1.2rem;
}

/*  */

.headerNav {
  display: flex;
  align-items: center;
  padding: 1rem 0rem;
  justify-content: space-between;
}

.headerNavLogo {
  width: 5rem;
}

.headerNavLogo img {
  width: 100%;
}

.headerNavList {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.headerNavList li a {
  text-decoration: none;
  color: var(--primary-heading);
  font-weight: 600;
}

.headerHamburger {
  position: relative;
  z-index: 100;
}

.headerHamburger:hover {
  cursor: pointer;
}

.headerHamburger svg {
  font-size: 2.5rem;
  color: var(--primary-color);
}

.headerHambugerMenu {
  position: fixed;
  top: 0;
  z-index: 50;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(252, 252, 252);
  /* background-color: black; */
  transform: translateX(-100%);
  transition: all 0.6s;
}

.hamburgerContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  z-index: 44;
  padding: 2rem;
}

.hamburgerSocials {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.hamburgerSocials span {
  display: flex;
  align-items: center;
  background-color: var(--primary-color);
  border-radius: 9999px;
  padding: 1rem;
}

.hamburgerSocials span svg {
  font-size: 1.2rem;
}

.hamburgerNavList {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  list-style: none;
}

.hamburgerNavList li a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 1.4rem;
}

@media only screen and (min-width: 768px) {
  .headerHamburger {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .headerNavList {
    display: none;
  }
  .headerBtn {
    display: none;
  }
  .headerMain {
    display: none;
  }
}
